<!DOCTYPE html>
<html>

<head>
    <title>Shaun Haldane</title>
    <!-- css files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">
    <meta name="author" content="Shaun Haldane">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Navbar -->
    <nav class="nav container void-background">
        <!-- This "nav-menu" is hidden on mobile -->
        <div class="nav-left">
            <a href="mailto:shaun.haldane@gmail.com" class="nav-item">
                <span class="icon">
                    <i class="fa fa-envelope"></i>
                </span>
            </a>
            <a href="https://github.com/ShaunHaldane?tab=repositories" target="blank" class="nav-item">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/shaun-haldane-96a331182/" target="blank" class="nav-item">
                <span class="icon">
                    <i class="fa fa-linkedin"></i>
                </span>
            </a>
        </div>

        <div class="nav-right nav-menu">
            <a class="nav-item" href="/">About</a>
            <a class="nav-item" href="/projects">Projects</a>
            <a class="nav-item" href="/articles">Blog</a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </nav>

    <div class="container">