<%- include("partials/header"); -%>

<!-- About Me -->
<section id="about" class="section about-me-section">
    <div class="container has-text-centered">
        <h1 style="font-size: xx-large; margin-bottom: 2rem; font-weight: bold">About Me
        </h1>
        <img class="avatar" src="\pictures\profilePic.jpg">

        <h1 style="font-size: xx-large; margin-top: 1.5rem; font-weight: bold">Shaun Haldane - Software Developer</h1>
    </div>
    <div class="container"></br>
        <p class="intro">
            While searching for a job in Germany as a Mechanical Engineer in the Robotics field
            after completeing a Master degree in 2017, I noticed that there was a great demand for Software Developers.
            Since then I have been learning how to code in variuos languages and building some usefull projects.
            I have created this website to demonstrate my abilities and to document my progress.
            I hope you enjoy reading my articles and feel free to get in contact with me.

        </p>
    </div>
</section>

<%- include("partials/footer"); -%>