<%- include("partials/header"); -%>

<div class="projects-title">
    <div class="has-text-centered">
        <h1>Projects</h1>
    </div>
</div>

<!-- Python Projects -->
<section id="PythonProjects" class="section projects-section">
    <div class="container">

        <div class="columns is-multiline is-desktop">
            <!-- PiBoxer -->
            <div class="column">
                <div class="box project-text">
                    <article>
                        <div>
                            <figure class="image project-figure">
                                <img src="pictures/PiBoxerPic.png" alt="Image">
                                <a href="https://github.com/ShaunHaldane/PiBoxer" target="_blank">Click here to
                                    view code and get description of project<br></a>
                            </figure>
                        </div>
                        <div>
                            <p>
                                A device to measure punching speed, power and fitness.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <!-- Game for Spasticity -->
            <div class="column">
                <div class="box project-text">
                    <article>
                        <div>
                            <figure class="image project-figure">
                                <img src="pictures/SpasticityGame.png" alt="Image">
                                <a href="https://github.com/ShaunHaldane/StarWarsGameToHelpWithSpasticity-InTheRightHand"
                                    target="_blank">Click here to view code and get description of project<br></a>
                            </figure>
                        </div>
                        <div>
                            <p>
                                A game and apparatus which can help a sufferer of spasticity regain control of
                                his/her hand.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<!--HTML, CSS & Javascript Projects-->
<section id="WebDevProjects" class="section projects-section">
    <div class="columns is-multiline is-desktop">
        <!-- Claudias Site -->
        <div class="column">
            <div class="box project-text">
                <article>
                    <div>
                        <figure class="image project-figure">
                            <img src="pictures/ClaudiaLandingPagePic.png" alt="Image">
                            <a href="https://shaunhaldane.github.io/PraxisBruppacher/" target="_blank">Click here to
                                visit
                                website<br></a>
                            <a href="https://github.com/ShaunHaldane/PraxisBruppacher" target="_blank">Click here to
                                view code<br></a>
                        </figure>
                    </div>
                    <div>
                        <p>
                            A website for a Speech Therapist.
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <!-- Holiday Flat -->
        <div class="columns is-multiline is-desktop">
            <!-- Javascript Boxing Game -->
            <div class="column">
                <div class="box project-text">
                    <article>
                        <div>
                            <figure class="image project-figure">
                                <img src="pictures/BoxingGameIntroPic.png" alt="Image">
                                <a href="https://shaunhaldane.github.io/Boxing-Game-Intro/" target="_blank">Click
                                    here to visit website<br></a>
                                <a href="https://github.com/ShaunHaldane/Boxing-Game-Story-Mode" target="_blank">Click
                                    here to view code<br></a>
                            </figure>
                        </div>
                        <div>
                            <p>
                                A boxing game which calls out random combinations to simulate padwork.<br> There is also
                                a story mode to simulate opponents.
                            </p>
                        </div>
                    </article>
                </div>
            </div>

        </div>
        <div class="columns is-multiline is-desktop"></div>
    </div>
</section>

<%- include("partials/footer"); -%>